{% extends "dashboard_base.html" %}

{% block content %}
<h1 class="page-header">
            <img src="{{ user.avatar_url }}" alt="{{ user.permalink }}" class="img-circle" />
            <a target="_blank" href="{{ user.permalink_url }}">{{ user.full_name }}</a>
          </h1>

{% if tracks and track_stats %}

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1>{{ tracks|length }}</h1>
              <h4>Tracks</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1>{{ user.num_follows_last_seven_days }}</h1>
              <h4># Follows Last 7 Days</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <ins class="adsbygoogle"
                   style="display:inline-block;width:300px;height:250px"
                   data-ad-client="ca-pub-9844785619338228"
                   data-ad-slot="5314869393"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <ins class="adsbygoogle"
                   style="display:inline-block;width:300px;height:250px"
                   data-ad-client="ca-pub-9844785619338228"
                   data-ad-slot="6791602594"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>
          <h2 class="sub-header">Tracks</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th># Follows</th>
                  <th>Title</th>
                  <th>Active</th>
                  <th>Info Link</th>
                </tr>
              </thead>
              <tbody>
                {% for track in tracks %}
                <tr>
                  <td>{{ track.downloads|length }}</td>
                  <td>{{ track.artist }}</td>
                  <td>{{ track.title }}</td>
                  <td><a href="{% url "tracks.info" track_id=track.track_url_id %}">Info</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% else %}
<h3>It looks like you haven't uploaded any tracks yet...</h3>
<div class="text-info empty-message"><a class="btn btn-success" href="{% url "tracks.upload" %}" role="button"><span class="glyphicon glyphicon-open" aria-hidden="true"></span> Upload a track now</a></div>
{% endif %}
{% endblock %}
