{% extends "dashboard_base.html" %}

{% block content %}
<h1>Upload Track</h1>
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  There were some errors, please see below and correct.
</div>
{% endif %}
<form action="{% url "tracks.upload" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="form-group">
    <label for="{{ form.artist.id_for_label }}">Artist: </label>
    <input type="text" id="artist" name="artist" class="form-control" value="{{ form.artist.value|default:"" }}"/>
    <p class="help-block">{{ form.artist.errors }}</p>
  </div>
  <div class="form-group">
    <label for="{{ form.title.id_for_label }}">Title: </label>
    <input type="text" id="title" name="title" class="form-control" value="{{ form.title.value|default:"" }}" />
    <p class="help-block">{{ form.title.errors }}</p>
  </div>
  <div class="form-group">
    <label for="{{ form.track_file.id_for_label }}">Track File:</label>
    <p id="download-help-text" class="help-block">The track file (.mp3 files only)</p>
    <input type="file" id="id_track_file" name="track_file" value="{{ form.track_file.value|default:""}}" />
    <p class="help-block">{{ form.track_file.errors }}</p>
  </div>
  <input type="submit" value="Upload" class="btn btn-primary" />
</form>
<div>
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-9844785619338228"
     data-ad-slot="3698535390"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endblock %}
