{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Offer music downloads on your soundcloud to generate followeres for free. You can follow gate as many tracks as you want, its
100% free and takes 2 minutes to get started.">
    <meta name="keywords" content="follow to download soundcloud, Follow to download tool, Free follow gate soundcloud, soundcloud follow gate">
    <meta name="robots" content="All,index,follow">
    <meta name="revisit-after" content="7 days">
    <title>{% block title %}follow2download Tool: Follow Gate Your Soundcloud Music Tracks Downloads For Free{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{% static "main.css" %}">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60530372-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        {% block navbar %}
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="{% url "signup.oauth" %}">Sign in</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="{% url 'homepage' %}">follow2download.com</a></h3>
        {% endblock %}
      </div>
      {% block content %}{% endblock %}
      <footer class="footer">
        <p>&copy; <a href="{% url 'homepage' %}">follow2download.com</a> 2015</p>
      </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- Google Ads -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </body>
</html>
